*.a
*.dylib
*.mod
*.o
*.so
*.tmp
.build*
.makedep
all/*.c
all/*.h
bin/benchMpr
bin/charGen
bin/http
bin/makerom
bin/runProgram
bin/testHttp
bin/testMpr
build/bin/buildConfig.sh
build/bin/dsi
build/bin/edep
build/bin/getpath
buildConfig.make
extensions
lib/*.so
lib/*.so.*
src/include/buildConfig.h
mob.*
projects/MACOSX/*/build
*.pdb
*.obj
*.exe
*.dll
*.exp
*.lib
releases
bin/i386*
lib/i386*
bin/*.manifest
staging
bin/angel*
*/x86_64-pc-win
bin/i686-*
bin/*.sln
bin/*.suo
bin/.kdbgrc.*
out
*.sdf
*.suo
*.filters
*.user
*.old
Win32
*.opensdf
project.xcworkspace
*.save
projects/WIN/*/x64
project.xcworkspace
UpgradeLog*.XML
_UpgradeReport_Files
projects/WIN/mpr-dynamic/ipch
.testFile.tmp*
*.stackdump
*.cltmp
.embedthis
.publisher
.DS_Store
doc/api/mpr/html
doc/ap/mpr/xml
doc/api/mpr/xml
/*-*.bit
/*-*-debug/
/*-*-release/
.*.guid
*.dmp
start.bit
