*.a
*.dylib
*.mod
*.o
*.so
*.tmp
.build*
.makedep
all/*.c
all/*.h
bin/benchMpr
bin/charGen
bin/http
bin/makerom
bin/runProgram
bin/testHttp
bin/testMpr
build/bin/buildConfig.sh
build/bin/dsi
build/bin/edep
build/bin/getpath
buildConfig.make
doc/api/http/xml
doc/api/mpr
extensions
lib/*.so
lib/*.so.*
src/include/buildConfig.h
mob.*
projects/MACOSX/*/build
*.pdb
*.obj
*.exe
*.dll
*.exp
*.lib
bin/*.def
releases
bin/i386*
lib/i386*
bin/*.manifest
staging
bin/angel*
*/x86_64-pc-win
bin/i686-*
bin/*.sln
bin/*.suo
bin/.kdbgrc.*
out
